.locaciones-grid {
  display: flex;
  flex-direction: column; /* Una tarjeta debajo de otra */
  gap: 20px;
  align-items: center;
}

.filtro-locaciones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  ::placeholder {
    color: rgba(255, 255, 255, 0.958); /* Blanco con 70% de opacidad */
  }
}

.busqueda-input {
  background-color: rgb(122, 122, 122);
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.filtro-select {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color:  rgb(122, 122, 122);
  font-size: 16px;
}

.locacion-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(147, 115, 141, 0.401);
  border-radius: 10px;
  padding: 15px;
  width: 700px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.locacion-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.locacion-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.climate-text {
  color: #333;
  font-weight: bold;
}

.locacion-info {
  text-align: left;
  color:#333;
  margin-left: 60px;
}
